.joinClassContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 90vh;
    width: 300px;
    margin-top: 8px;
    margin-right: -8px;
    border-left-color: lightgray;
    border-left-width: 1px;
    border-left-style: solid;
    padding-top: 8px;

}

.joinClassList{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 85vh;
    justify-content: flex-start;
    overflow: scroll;
    align-items: stretch;
    margin-top: 8px;
}

.joinClassCard{
    padding: 8px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 8px;
}

.joinedClassText{
    color: green;
    width: 100%;
    text-align: right;

}

.joinClassButton{
    align-self: flex-end;
    width: 50%;
}