.addClassForm{
    margin-top: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.addClassInputBar{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    width: 300px;
}

.addClassSubmit{
    display:flex;
    width: 150px;
    height: 40px;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
    border-width: 5px;
    background-color: blue;
    color: aliceblue;
    cursor: pointer;
}